body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ef70f3;
}

html {
  height: 100%;
  width: 100%;
}
main {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: -0% 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
